# 数据合并及分组

In [32]:
import pandas as pd

columns_number = 3
id_col = 'id'
id_col_list = [] 
id_col_list.append(id_col)
yinbiao_col = 'Yinbiao'
yinbiao_cols_list = ['Yinbiao1', 'Yinbiao2','Yinbiao3']

In [38]:
import re

def context_concat(row, yinbiao_col):
    list_char = re.split('\\d+', row[yinbiao_col])[:-1]
    if len(list_char) == 0:
        return None
    else:
        list_num = re.split('\\D+', row[yinbiao_col])[1:]
        result = [None]*(len(list_char)+len(list_num))
        result[::2] = list_char
        result[1::2] = list_num
        
        return result
    
def context_concat_len(row, yinbiao_col): 
    list_char = re.split('\\d+', row[yinbiao_col])[:-1]
    if len(list_char) == 0:
        return None
    else:
        print(list_char)
        list_num = re.split('\\D+', row[yinbiao_col])[1:]
        print(list_num)
        result = [None]*(len(list_char)+len(list_num))
        result[::2] = list_char
        result[1::2] = list_num
        
        return len(result)

In [34]:
raw_df = pd.read_csv('词汇.csv')
if columns_number == 3:
    raw_df.columns = ['id', 'char1', 'char2', 'Yinbiao1', 'nan1', 'Yinbiao2', 'nan2', 'Yinbiao3', 'nan3']
elif columns_number == 2:
    raw_df.columns = ['id', 'char1', 'char2', 'Yinbiao1', 'nan1', 'Yinbiao2', 'nan2']
raw_df

        id char1    char2     Yinbiao1  nan1 Yinbiao2  nan2 Yinbiao3  nan3
0        1    太阳     ～下山了     ha31no44   NaN      NaN   NaN      NaN   NaN
1        2    月亮     ～出来了    kun22la44   NaN      NaN   NaN      NaN   NaN
2        3    星星      NaN  l̥in44tei35   NaN      NaN   NaN      NaN   NaN
3        4     云      NaN        hau44   NaN      NaN   NaN      NaN   NaN
4        5     风      NaN        kji35   NaN      NaN   NaN      NaN   NaN
...    ...   ...      ...          ...   ...      ...   ...      ...   ...
2995  2996     被  ～同志们挡住了       tshu31   NaN      NaN   NaN      NaN   NaN
2996  2997     比     ～月亮大         pi22   NaN      NaN   NaN      NaN   NaN
2997  2998     给     ～他写信        haŋ44   NaN      NaN   NaN      NaN   NaN
2998  2999     从      NaN         ty53   NaN      NaN   NaN      NaN   NaN
2999  3000     在      NaN        ȵaŋ44   NaN      NaN   NaN      NaN   NaN

[3000 rows x 9 columns]

In [35]:
use_cols_list = id_col_list + yinbiao_cols_list
use_cols_list

['id', 'Yinbiao1', 'Yinbiao2', 'Yinbiao3']

In [36]:
if columns_number == 3:
    yinbiao_cols_list = ['Yinbiao1', 'Yinbiao2', 'Yinbiao3']

use_cols_list = id_col_list + yinbiao_cols_list
yinbiao_df = raw_df[use_cols_list]
# Step 1
# We start with creating a new dataframe from the series with EmployeeId as the index
yinbiao_df_stack = pd.DataFrame(yinbiao_df[yinbiao_cols_list], index=yinbiao_df.id).stack()
yinbiao_df_unique = yinbiao_df_stack.reset_index(id_col)
yinbiao_df_unique.columns = [id_col, yinbiao_col]
yinbiao_df_unique

            id      Yinbiao
Yinbiao1     1    kun22la44
Yinbiao1     2  l̥in44tei35
Yinbiao1     3        hau44
Yinbiao1     4        kji35
Yinbiao1     5          （无）
...        ...          ...
Yinbiao1  2995       tshu31
Yinbiao1  2996         pi22
Yinbiao1  2997        haŋ44
Yinbiao1  2998         ty53
Yinbiao1  2999        ȵaŋ44

[3050 rows x 2 columns]

In [39]:
yinbiao_df_unique['length'] = yinbiao_df_unique.apply(lambda row: context_concat_len(row, yinbiao_col), axis=1)
yinbiao_df_unique['target'] = yinbiao_df_unique.apply(lambda row: context_concat(row, yinbiao_col), axis=1)
yinbiao_df_unique = yinbiao_df_unique.dropna(subset=['target'])
yinbiao_df_unique

['kun', 'la']
['22', '44']
['l̥in', 'tei']
['44', '35']
['hau']
['44']
['kji']
['35']
['io', 'i']
['31', '22']
['kuŋ', 'kwaŋ']
['35', '31']
['luŋ', 'ŋa']
['44', '31']
['to', 'luŋ', 'ŋa']
['31', '44', '31']
['lin']
['13']
['sa']
['53']
['mo']
['35']
['lou', 'pa']
['44', '44']
['suŋ']
['44']
['hau']
['44']
['thou', 'ŋ']
['35', '44']
['ljaŋ', 'ho', 'ŋ']
['13', '22', '44']
['kou', 'naŋ', 'kun', 'la']
['31', '13', '35', '35']
['no', 'juŋ']
['44', '31']
['lɔŋ']
['31', '']
['kun', 'la']
['22', '44']
['l̥in', 'tei']
['44', '35']
['hau']
['44']
['kji']
['35']
['io', 'i']
['31', '22']
['kuŋ', 'kwaŋ']
['35', '31']
['luŋ', 'ŋa']
['44', '31']
['to', 'luŋ', 'ŋa']
['31', '44', '31']
['lin']
['13']
['sa']
['53']
['mo']
['35']
['lou', 'pa']
['44', '44']
['suŋ']
['44']
['hau']
['44']
['thou', 'ŋ']
['35', '44']
['ljaŋ', 'ho', 'ŋ']
['13', '22', '44']
['kou', 'naŋ', 'kun', 'la']
['31', '13', '35', '35']
['no', 'juŋ']
['44', '31']
['lɔŋ']
['31', '']

ValueError: ('attempt to assign sequence of size 1 to extended slice of size 2', 'occurred at index Yinbiao1')

In [ ]:
import re

def context_concat_dd(row, index): 
    target_len = len(row.target)
    if index < target_len:
        return row.target[index]
    return None

In [ ]:
column_number = int(max(yinbiao_df_unique['length']))
for i in range(column_number):
    yinbiao_df_unique['column' + str(i)] = yinbiao_df_unique.apply(lambda row: context_concat_dd(row, i), axis=1)
    yinbiao_df_single = yinbiao_df_unique['column' + str(i)]
    file_name = 'output' + str(i) + '.csv'
    yinbiao_df_single.to_csv(path_or_buf=file_name, encoding='utf-16', index=False)
yinbiao_df_unique

In [77]:
column_number = int(max(yinbiao_df_unique['length']))
column_keep = []
for i in range(column_number):
    yinbiao_df_unique['column' + str(i)] = yinbiao_df_unique.apply(lambda row: context_concat_dd(row, i), axis=1)
    column_keep.append('column' + str(i))
yinbiao_df_unique

C:\tools\ds\Anaconda3\envs\py3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

,id,Yinbiao,length,target,0,1,2,3,column0,column1,column2,column3
Yinbiao1,2.0,hau44,2.0,"[hau, 44]",hau,44,None,None,hau,44,None,None
Yinbiao1,3.0,kji35,2.0,"[kji, 35]",kji,35,None,None,kji,35,None,None
Yinbiao1,5.0,io31i22,4.0,"[io, 31, i, 22]",io,31,i,22,io,31,i,22
Yinbiao1,6.0,kuŋ35kwaŋ31,4.0,"[kuŋ, 35, kwaŋ, 31]",kuŋ,35,kwaŋ,31,kuŋ,35,kwaŋ,31
Yinbiao1,7.0,luŋ44ŋa31,4.0,"[luŋ, 44, ŋa, 31]",luŋ,44,ŋa,31,luŋ,44,ŋa,31
Yinbiao1,8.0,hən22,2.0,"[hən, 22]",hən,22,None,None,hən,22,None,None
Yinbiao2,8.0,le35suŋ31,4.0,"[le, 35, suŋ, 31]",le,35,suŋ,31,le,35,suŋ,31

In [78]:
yinbiao_df_final = yinbiao_df_unique[column_keep].reset_index()
yinbiao_df_final

      index column0 column1 column2 column3
0  Yinbiao1     hau      44    None    None
1  Yinbiao1     kji      35    None    None
2  Yinbiao1      io      31       i      22
3  Yinbiao1     kuŋ      35    kwaŋ      31
4  Yinbiao1     luŋ      44      ŋa      31
5  Yinbiao1     hən      22    None    None
6  Yinbiao2      le      35     suŋ      31

In [79]:
yinbiao_df_final_1 = yinbiao_df_final.drop(columns=['index'], axis=1)

In [80]:
yinbiao_df_final_1

  column0 column1 column2 column3
0     hau      44    None    None
1     kji      35    None    None
2      io      31       i      22
3     kuŋ      35    kwaŋ      31
4     luŋ      44      ŋa      31
5     hən      22    None    None
6      le      35     suŋ      31

In [76]:
yinbiao_df_final.to_csv?

In [85]:
df = pd.DataFrame({'name': ['Raphael', 'Donatello'],
                    'mask': ['red', 'purple'],
                   'weapon': ['sai', 'bo staff']})
df.to_csv(path_or_buf='output1.csv', index=False)

In [88]:
yinbiao_df_final_1.to_csv(path_or_buf='output.csv', encoding='utf-8', index=False)

In [153]:
import csv
with open('output.csv', "w", encoding='utf-16') as csv_file:
        writer = csv.writer(csv_file)
        for index, row in report_data_5.iterrows():
            print(row['target'])
            l_s = row['target'].split(',')
            print(l_s)
            columns_map={'column1':''}
            for i in range(len(l_s)):
                key = 'column' + str((i + 1))
                columns_map[key] = l_s[i]
            print(columns_map)
            writer.writerow(columns_map)

hau,44
['hau', '44']
{'column1': 'hau', 'column2': '44'}
kji,35
['kji', '35']
{'column1': 'kji', 'column2': '35'}
io,31,i,22
['io', '31', 'i', '22']
{'column1': 'io', 'column2': '31', 'column3': 'i', 'column4': '22'}
kuŋ,35,kwaŋ,31
['kuŋ', '35', 'kwaŋ', '31']
{'column1': 'kuŋ', 'column2': '35', 'column3': 'kwaŋ', 'column4': '31'}
luŋ,44,ŋa,31
['luŋ', '44', 'ŋa', '31']
{'column1': 'luŋ', 'column2': '44', 'column3': 'ŋa', 'column4': '31'}
hən,22
['hən', '22']
{'column1': 'hən', 'column2': '22'}
le,35,suŋ,31
['le', '35', 'suŋ', '31']
{'column1': 'le', 'column2': '35', 'column3': 'suŋ', 'column4': '31'}
io,31,i,22
['io', '31', 'i', '22']
{'column1': 'io', 'column2': '31', 'column3': 'i', 'column4': '22'}

In [113]:
report_data_5.to_csv(path='output3.csv', sep=",", encoding='utf-16')

C:\tools\ds\Anaconda3\envs\py3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: The signature of `Series.to_csv` was aligned to that of `DataFrame.to_csv`, and argument 'path' will be renamed to 'path_or_buf'.
  """Entry point for launching an IPython kernel.
C:\tools\ds\Anaconda3\envs\py3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: The signature of `Series.to_csv` was aligned to that of `DataFrame.to_csv`, and argument 'header' will change its default value from False to True: please pass an explicit value to suppress this warning.
  """Entry point for launching an IPython kernel.

In [ ]:
report_data_3['target'].to_csv

In [59]:
import re
re.split('\\d+', 'hello world')

['hello world']

In [67]:
re.split('\\d+', 'kuŋ35kwaŋ31')[:-1]

['kuŋ', 'kwaŋ']

In [68]:
re.split('\\D+', 'kuŋ35kwaŋ31')[1:]

['35', '31']

In [53]:
re.split('\W+', 'test, test, test.')

['test', 'test', 'test', '']

In [45]:
report_data_3.columns = ['id', 'Yinbiao']
report_data_3

          id      Yinbiao
Yinbiao1   2        hau44
Yinbiao1   3        kji35
Yinbiao1   4          （无）
Yinbiao1   5      io31i22
Yinbiao1   6  kuŋ35kwaŋ31
Yinbiao1   7    luŋ44ŋa31
Yinbiao1   8        hən22
Yinbiao2   8    le35suŋ31
Yinbiao3   8      io31i22

In [33]:
report_data_2.index

MultiIndex([(2, 'Yinbiao1'),
            (3, 'Yinbiao1'),
            (4, 'Yinbiao1'),
            (5, 'Yinbiao1'),
            (6, 'Yinbiao1'),
            (7, 'Yinbiao1'),
            (8, 'Yinbiao1'),
            (8, 'Yinbiao2'),
            (8, 'Yinbiao3')],
           names=['id', None])

In [19]:
# Step 1
# We start with creating a new dataframe from the series with EmployeeId as the index
new_df = pd.DataFrame(df.City.str.split('|').tolist(), index=df.EmployeeId).stack()
new_df

EmployeeId
001         0       Mumbai
            1    Bangalore
002         0         Pune
            1       Mumbai
            2        Delhi
003         0       Mumbai
            1    Bangalore
004         0       Mumbai
            1         Pune
005         0    Bangalore
dtype: object

In [26]:
new_df.index

RangeIndex(start=0, stop=10, step=1)

In [20]:
# Step 2
# We now want to get rid of the secondary index
# To do this, we will make EmployeeId as a column (it can't be an index since the values will be duplicate)
new_df = new_df.reset_index([0, 'EmployeeId'])
new_df

  EmployeeId          0
0        001     Mumbai
1        001  Bangalore
2        002       Pune
3        002     Mumbai
4        002      Delhi
5        003     Mumbai
6        003  Bangalore
7        004     Mumbai
8        004       Pune
9        005  Bangalore

In [ ]:
# Step 3
# The final step is to set the column names as we want them
new_df.columns = ['EmployeeId', 'City']

In [25]:
report_data_2.index

MultiIndex([(0,       'id'),
            (0, 'Yinbiao1'),
            (1,       'id'),
            (1, 'Yinbiao1'),
            (2,       'id'),
            (2, 'Yinbiao1'),
            (3,       'id'),
            (3, 'Yinbiao1'),
            (4,       'id'),
            (4, 'Yinbiao1'),
            (5,       'id'),
            (5, 'Yinbiao1'),
            (6,       'id'),
            (6, 'Yinbiao1'),
            (7,       'id'),
            (7, 'Yinbiao1'),
            (8,       'id'),
            (8, 'Yinbiao1'),
            (8, 'Yinbiao2'),
            (8, 'Yinbiao3')],
           )

In [24]:
report_data_3 = report_data_2.reset_index('id')
report_data_3

KeyError: 'Level id not found'

In [ ]:
# Explode/Split column into multiple rows
new_df = pd.DataFrame(report_data_1.City.str.split('|').tolist(), index=df.EmployeeId).stack()
new_df = new_df.reset_index([0, 'EmployeeId'])
new_df.columns = ['EmployeeId', 'City']

In [14]:
report_data['label'] = report_data.apply(lambda row: row['Amount'] == "Yes", axis=1)

In [21]:
report_data['Amounts'] = report_data.apply(lambda row: row['Amount'][1:], axis=1)

In [22]:
report_data['Amounts'] = report_data['Amounts'].astype(float)

In [23]:
report_data.head()

,Date,Description,Amount,Type,label,Amounts
0,"Oct 28, 2019",VIDEOTRON LTEE. 110 PPACCMONTREAL QC,$133.79,Telcome,False,133.79
1,"Oct 24, 2019",DUTY FREE MTL INT'L ST-LAURENT QC,$43.00,One-time,False,43.00
2,"Oct 19, 2019",PAYPAL *GOOGLE LONG TE 4029357733 NS,$30.99,Game,False,30.99
3,"Oct 14, 2019",PAYPAL *GOOGLE LONG TE 4029357733 NS,$24.99,Game,False,24.99
4,"Oct 14, 2019",PAYPAL *GOOGLE LONG TE 4029357733 NS,$30.99,Game,False,30.99

In [24]:
grouped = report_data.groupby('Type')

In [25]:
grouped['Amounts'].sum()

Type
Game         161.11
Meet          14.79
One-time      43.00
Social        14.09
Telcome      492.15
Transport    141.00
Travel        23.00
Name: Amounts, dtype: float64